



body{
    font-family: 'Nunito Sans', sans-serif;
      background-image: linear-gradient(pink,cyan ); 
      background-repeat: no-repeat;
      background-image: cover;
}
#card{
    background: white;
    margin: 100px 300px 100px 300px;
    text-align: center;
    padding: 10px;

    
}
#card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
hr{
    width: 500px;
}
h1{
    font-family: 'Notable', sans-serif;

 
}